.social-block__link {
  transition: opacity 2s linear 0;
  &--fb,
  &--vk,
  &--insta {
    animation-name: fadeInBottom;                            
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }
  &--vk {
      animation-duration: 2s;
      animation-delay: 1.1s;
  }
  &--insta {
      animation-duration: 1s;
      animation-delay: 1.1s;
  }
}
.page-header {         
  margin-top: -125px;
  transition: margin-top 1s cubic-bezier(.7, .08, .02, 1.1);
}
.screen__footer {                          
  margin-bottom: -40px;
  transition: margin-bottom 1s cubic-bezier(.7, .08, .02, 1.1);
}
.ready {
  .page-header {             
    margin-top: 0;
  }
  .screen__footer {
    margin-bottom: 0;
  }
}
.page-header__menu {
  a {
    &::after {
    transition: width 0.4s ease-out;
    left: 0;
    }
    &:hover,
    &:focus,
    &.active {
        &::after {
        width: 100%;
        }
    }
  }
       
}
.intermediate-bg {
  width: 100%;
  background-color: #5f458c;
  bottom: 0;
  left: 0;
  height: 0;
  position: absolute;
  transition: height .4s ease;
  z-index: 99999;
}
.rules__item {
  transition: width 1s linear 1s;
  overflow: hidden;
}
.rules__item:before {
  transform: scale(0);  
}
.active .rules__item:before {
  animation-name: circleWidth;
  animation-duration: .2s;
  animation-fill-mode: forwards;
  animation-delay: .3s;
}
.active .rules__item > p {
    animation-name: rulesText;
    opacity: 0;
    animation-duration: .4s;
    animation-fill-mode: forwards;
    animation-delay: .4s;
    animation-timing-function: linear;    
}
.active .rules__item:nth-child(2):before,
.active .rules__item:nth-child(2) > p {
  animation-delay: 0.9s;
}
.active .rules__item:nth-child(3):before,
.active .rules__item:nth-child(3) > p {
  animation-delay: 1.3s;
}
.active .rules__item:nth-child(4):before,
.active .rules__item:nth-child(4)>p {
  animation-delay: 1.7s;
}
.rules {
  overflow: hidden;
}
.rules__link::before {
  transition-duration: .5s;
}
.rules__link:hover::before {
  width: 105%;
  height: 105%;
}
.active .rules__link {
  animation-name: widthBtn;
  color: #fff;
  opacity: 0;
  transform: translate(80%);
  animation-duration: .3s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  animation-timing-function: linear;
}
.text__word {
  display: inline-block;
  margin: 0;
  overflow: hidden;
  & span {
    transform: translate3d(0, 1em, 0);
    display: inline-block;
  }
}

.intro__title.active .text__word > span {
  transform: translate3d(0, 0, 0);
  
}

@media (max-width: $tablet) {
  .active .rules__item:nth-child(2):before {
    animation-delay: 1s;
  }

  .active .rules__item:nth-child(3):before {
    animation-delay: 1.4s;
  }

  .active .rules__item:nth-child(4):before {
    animation-delay: 1.8s;
  }
  .active .rules__link {
    animation-delay: 2.2s;
    .active .rules__item:before {
      animation-duration: .3s;
      animation-delay: .2s;
    }
  }
    
  .active .rules__item>p {
    animation-delay: .3s;
  }
}
@media (max-width: $mobile) {
  .active .rules__item:nth-child(2):before {
    animation-delay: 1s;
  }
  .active .rules__item:nth-child(3):before {
    animation-delay: 1.5s;
  }
  .active .rules__item:nth-child(4):before {
    animation-delay: 2s;
  }
  .active .rules__link {
    animation-delay: 2.5s;
  }

  .active .rules__item>p {
    animation-delay: .4s;
  }
}
@keyframes rulesText {
  0% {
    opacity: 0;
    transform: translate(80%);
  }
  20% {
    opacity: 0;
  }
  100% {    
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes widthBtn {
  0% {
    color: #fff;
    opacity: 0;
    transform: translate(100%);
  }
  20% {
    opacity: 1;
  }
  80% {
    color: #fff;
    opacity: 1;
  }
  100% {    
    color: #5f458c;
    transform: translate(0);
    opacity: 1;
  }
}
@keyframes circleWidth {
  0% {
    transform: scale(0);
  }

  100% {
   transform: scale(1);
  }
}
@keyframes fadeInBottom {
  0% {
    opacity: 0;
    bottom: -30px;
  }

  100% {
    opacity: 1;
    bottom: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    margin-bottom: -30px;
  }

  100% {
    opacity: 1;
    margin-bottom: 0;
  }
}

@keyframes textFadeRight {
  0% {
    opacity: 0;
    margin-left: 30px;
  }

  100% {
    opacity: 1;
    margin-left: 0;
  }
}

@keyframes fadeRight {
  0% {
    opacity: 0;
    margin-left: 50px;
    margin-right: -50px;
  }

  100% {
    opacity: 1;
    margin-left: 0;
    margin-right: 0;
  }
}

section {
  background-repeat: no-repeat;
  background-size: cover;
}
.active .slider__controls {
   width: 22rem;
   animation-timing-function: ease-in-out;
   animation-duration: .2s;
   animation-delay: .1s;
   animation-name: BtnSlider;
   animation-fill-mode: forwards;
}
.active .slider__controls .slider__control--prev {
     transform: rotate(-80deg);
     animation-timing-function: linear;
     animation-duration: .4s;
     animation-delay: .1s;
     animation-name: spin;
     animation-fill-mode: forwards;
}
.active .slider__controls .slider__control--next {
  transform: rotate(git 80deg);
  animation-timing-function: linear;
  animation-duration: .4s;
  animation-delay: .1s;
  animation-name: spin;
  animation-fill-mode: forwards;
}
@keyframes spin {
  to {
    transform: rotate(0deg);
  }
}
@keyframes BtnSlider {
  0% {
    width: 23rem;
  }
  90% {
    width: 15.5rem;
  }
  100% {
    width: 17rem;
  }
}
.intro__label .text__word {
  margin: 0;
  overflow: inherit   
}

// 4. обводкa и блик пузырьков

// end

// 8. «Фонарь» и «Снеговик»     
   
// end

//9. LatheGeometry

// end

//10.  Добавление однотонных материалов

// end

// 14. «Чемодан»

// end

// 15. Фоновая анимация объектов «Собака», «Люстра Сатурн», «Листья», «Компас», «ИИ Соня»

// end

// 16. появления «чемодана» из замочной скважины

// end

//17. Анимация «вылета самолёта» из замочной скважины

// end

// 18. Переходы между сценами 
  
// end

