.social-block__link {
  transition: opacity 2s linear 0;
  &--fb,
  &--vk,
  &--insta {
    animation-name: fadeInBottom;                            
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }
  &--vk {
      animation-duration: 2s;
      animation-delay: 1.1s;
  }
  &--insta {
      animation-duration: 1s;
      animation-delay: 1.1s;
  }
}
.page-header {
  margin-top: -125px;
  transition: margin-top 1s cubic-bezier(.7, .08, .02, 1.1);
}
.screen__footer {
  margin-bottom: -40px;
  transition: margin-bottom 1s cubic-bezier(.7, .08, .02, 1.1);
}
.ready {
  .page-header {
    margin-top: 0;
  }
  .screen__footer {
    margin-bottom: 0;
  }
}
.page-header__menu {
  a {
    &::after {
    transition: width 0.4s ease-out;
    left: 0;
    }
    &:hover,
    &:focus,
    &.active {
        &::after {
        width: 100%;
        }
    }
  }
       
}
.intermediate-bg {
  width: 100%;
  background-color: #5f458c;
  bottom: 0;
  left: 0;
  height: 0;
  position: absolute;
  transition: height .4s ease;
  z-index: 99999;
}
.rules__item {
  transition: width 1s linear 1s;
}
.rules__item:before {
  transform: scale(0);  
}
.active .rules__item:before {
  animation-name: circleWidth;
  animation-duration: .2s;
  animation-fill-mode: forwards;
  animation-delay: .3s;
}
.active .rules__item > p {
    animation-name: textFadeRight;
    opacity: 0;
    animation-duration: .4s;
    animation-fill-mode: forwards;
    animation-delay: .8s;
}
.active .rules__item:nth-child(2):before,
.active .rules__item:nth-child(2) > p {
  animation-delay: 1.05s;
}
.active .rules__item:nth-child(3):before,
.active .rules__item:nth-child(3) > p {
  animation-delay: 1.3s;
}
.active .rules__item:nth-child(4):before,
.active .rules__item:nth-child(4)>p {
  animation-delay: 1.55s;
}
.active .rules__link {
  animation-name: widthBtn;
  opacity: 0;
  width: 0;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  max-width: 240px;
}
@keyframes widthBtn {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}
@keyframes circleWidth {
  0% {
    transform: scale(0);
  }

  100% {
   transform: scale(1);
  }
}
@keyframes fadeInBottom {
  0% {
    opacity: 0;
    bottom: -30px;
  }

  100% {
    opacity: 1;
    bottom: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    margin-bottom: -30px;
  }

  100% {
    opacity: 1;
    margin-bottom: 0;
  }
}

@keyframes textFadeRight {
  0% {
    opacity: 0;
    margin-left: 30px;
  }

  100% {
    opacity: 1;
    margin-left: 0;
  }
}

@keyframes fadeRight {
  0% {
    opacity: 0;
    margin-left: 50px;
    margin-right: -50px;
  }

  100% {
    opacity: 1;
    margin-left: 0;
    margin-right: 0;
  }
}

@keyframes Width {
  0% {
    opacity: 0;
    width: 0;
  }

  100% {
    opacity: 1;
    width: calc(100% - 21rem);
  }
}
section {
  background-repeat: no-repeat;
  background-size: cover;
}